.spellingModal, 
.miscModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
}

.popUp {
    background-color: #FFE66B;
    width: 70%;
    padding: 3% 0;
    position: fixed;
    top: 30%;
    left: 15%;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
        button {
            padding: 1%;
            margin-bottom: 1%;
        }
}