// K -> A: This is our partial for general styling.


body {
    background-image: linear-gradient(to right bottom, #fde700, #c5f150, #93f484, #6cf2b1, #61ecd3, #5fe5dd, #66dde3, #74d4e4, #67cce2, #5cc3df, #51bbdd, #47b2da)
}

h1 {
    font-size: 4rem;
    text-align: center;
}

.wrapper {
   max-width: 1200px;
   width: 90vw;
   margin: 0 auto; 
}

.searchInput {
    font-size: 3rem;
}

.inputAndButton {
    display: flex;
    justify-content: center;
    padding: 5%;
    font-size: 1rem;
}

.spellingModal,
.miscModal {
    display: none;
}

.parkImage,
.weatherPhoto {
    max-width: 50%;
        img {
            width: 100%;
        }
}

.contentContainer {
    display: flex;
    justify-content: space-around;
}

form {
    text-align: center;
        label {
            text-align: center;
        }
        .inputAndButton {
            input {
                width: 70%;
                padding: 25px 0;
                text-align: center;
                border: 1px solid black;
            }
            button {
                padding: 15px;
                background-color: white;
                border: 1px solid black;
            }
        }
}

footer {
    text-align: center;
        a {
        text-decoration: none;
        color: black;
        }
}

