
body {
    background-color: #74d4e4;
}

h1 {
    font-size: 4rem;
    text-align: center;
}

.wrapper {
   max-width: 1200px;
   width: 90vw;
   margin: 0 auto; 
}

form {
    text-align: center;
        label {
            text-align: center;
            font-size: 3rem;
        }
        .inputAndButton {
            display: flex;
            justify-content: center;
            padding: 5%;
            font-size: 1rem;
                input {
                    width: 70%;
                    padding: 25px 0;
                    text-align: center;
                    border: 1px solid black;
                }
                button {
                    padding: 15px;
                    background-color: white;
                    border: 1px solid black;
                }
        }
}
// End of Form Styling

.contentContainer {
    display: flex;
    justify-content: space-around;
    padding-top: 60px;
        .parkImage {
            max-width: 50%;
                img {
                    width: 100%;
                }
        }
}
// End of Content Container Styling

footer {
    text-align: center;
    padding-top: 100px;
        a {
        text-decoration: none;
        color: black;
        }
}
// End of Footer Styling

