@media (max-width: 768px) {
    h1 {
        font-size: 3rem;
    }

    .searchInput {
        font-size: 2.5rem;
    }

    .weatherDescription p {
        font-size: 1.3rem;
    }
}
// End of 768px

@media (max-width: 547px) {
    h1 {
        font-size: 2.5rem;
    }

    form {
        .searchInput {
            font-size: 2rem;
        } 

        .inputAndButton input {
            padding: 0%;
        }
    }

    .contentContainer {
        flex-direction: column-reverse;
        padding: 0%;
            .weatherDescription {
                width: 100%;
                padding: 0%;
                text-align: center;
                    p {
                        font-size: 1rem;
                    }
            }    
            .parkImage {
                max-width: 100%;
                }
    }
}
// End of 547px

@media (max-width: 420px) {
    h1 {
        font-size: 2rem;
    }

    .searchInput {
        font-size: 1.5rem;
    } 

    .inputAndButton {
        button {
            font-size: 0.8rem;
        }
    }

}
// End of 420px